body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
  }
  
  /* Loopple Alert */
  .loopple-alert {
    position: relative;
    margin-bottom: 16px;
    padding: 16px 24px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .loopple-alert.loopple-alert-gradient-dark {
    color: #fff;
    border-color: #45484b;
    background: linear-gradient(87deg, #212529 0, #212229 100%) !important;
  }
  
  .loopple-alert.loopple-alert-dismissible .close {
    top: 50%;
    right: 24px;
    padding: 0;
    transform: translateY(-50%);
    opacity: 1;
    position: absolute;
    color: inherit;
    border: 0;
    background: transparent;
  }
  
  .loopple-alert.loopple-alert-dismissible .close span {
    color: #fff;
  }
  
  .loopple-fade {
    transition: opacity 0.15s linear;
  }
  
  /* Loopple Button */
  .loopple-btn {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    transition: all 0.15s ease;
    padding: 10px 20px;
    letter-spacing: 0.3px;
    text-transform: none;
    will-change: transform;
  }
  
  .loopple-btn.loopple-btn-white {
    color: #212529;
    border-color: #fff;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .loopple-btn.loopple-btn-white:hover {
    color: #212529;
    border-color: #fff;
    background-color: #fff;
  }
  
  .loopple-btn.loopple-btn-white:focus,
  .loopple-btn.loopple-btn-white.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(255, 255, 255, 0.5) l;
  }
  
  .loopple-btn.loopple-btn-white:not(:disabled):not(.disabled):active,
  .loopple-btn.loopple-btn-white:not(:disabled):not(.disabled).active {
    color: #212529;
    border-color: #fff;
    background-color: #e6e6e6;
  }
  
  /* Loopple Utilities */
  .loopple-position-absolute {
    position: absolute;
  }
  
  .loopple-position-sticky {
    position: sticky;
  }
  
  .loopple-position-fixed {
    position: fixed;
  }
  
  .loopple-z-index-9999 {
    z-index: 9999;
  }
  
  .loopple-bottom-2 {
    bottom: 8px;
  }
  
  .loopple-mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .loopple-text-center {
    text-align: center;
  }
  
  .loopple-right-0 {
    right: 0;
  }
  
  .loopple-left-0 {
    left: 0;
  }
  
  .loopple-w-50 {
    width: 50%;
  }
  
  .loopple-ml-2,
  .loopple-mx-2 {
    margin-left: 8px;
  }
  
  .loopple-opacity-0 {
    opacity: 0;
  }
  
  .ecsu-bg-dark-out {
    background: #212529;
  }
  
  .ecsu-bg-dark-light-out {
    background: #343a40;
  
  }
  
  .ecsu-bg-light-out {
    background-color: #f8f9fa;
  }
  
  .ecsu-bg-dark-light-2-out {
    background: #495057;
  }
  
  .ecsu-btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #070752;
    --bs-btn-border-color: #cb0c9f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2020a1;
    --bs-btn-hover-border-color: #a20a7f;
    --bs-btn-focus-shadow-rgb: 211, 48, 173;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a20a7f;
    --bs-btn-active-border-color: #980977;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #cb0c9f;
    --bs-btn-disabled-border-color: #cb0c9f
  }
  
  .ecsu-btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2b303a;
    --bs-btn-border-color: #344767;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4a5c7c;
    --bs-btn-hover-border-color: #2a3952;
    --bs-btn-focus-shadow-rgb: 82, 99, 126;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2a3952;
    --bs-btn-active-border-color: #27354d;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #344767;
    --bs-btn-disabled-border-color: #344767
  }
  
  .ecsu-btn-light {
    --bs-btn-color: #000;
    --bs-btn-bg: #e9ecef;
    --bs-btn-border-color: #e9ecef;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #9ea3a7;
    --bs-btn-hover-border-color: #ebeef1;
    --bs-btn-focus-shadow-rgb: 198, 201, 203;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #edf0f2;
    --bs-btn-active-border-color: #ebeef1;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #e9ecef;
    --bs-btn-disabled-border-color: #e9ecef
  }
  
  .escu-bg-gradient-primary {
    background-color: #4a5c7c;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 450px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }